.navbar-brand{
    margin-left: 400px;
}
.navbar-nav{
    margin-left: 400px;
}
.services{
    margin-left: 50px;
}
.experiences{
    margin-left: 50px;
}
.about{
    margin-left: 50px;
}
.contact{
    margin-left: 50px;
}
.login{
    margin-left: 50px;
}